importFrom(normalp,pnormp,dnormp,rnormp,qnormp)
importFrom(mcmc,metrop)
importFrom(coda,HPDinterval,as.mcmc)
importFrom(survival,Surv,survfit)
importFrom(R.utils,withTimeout)
importFrom(BMS,f21hyper)
importFrom(Rsolnp,gosolnp)
importFrom("graphics", "hist", "lines", "par", "plot")
importFrom("stats", "acf", "dcauchy", "dexp", "dlogis", "dnorm",
           "dunif", "model.frame", "model.matrix", "model.response",
           "optim", "pbeta", "pcauchy", "plogis", "pnorm", "ppoints",
           "qbeta", "qcauchy", "qlogis", "qnorm", "qqline", "qqplot",
           "quantile", "rcauchy", "rlogis", "rnorm", "runif", "sd",
           "ts")

S3method(print, tbs.survreg.mle)
S3method(plot, tbs.survreg.mle)
S3method(summary, tbs.survreg.mle)
S3method(lines, tbs.survreg.mle)

S3method(print, tbs.survreg.mle.best)
S3method(plot, tbs.survreg.mle.best)
S3method(summary, tbs.survreg.mle.best)
S3method(lines, tbs.survreg.mle.best)

S3method(print, tbs.survreg.be)
S3method(plot, tbs.survreg.be)
S3method(summary, tbs.survreg.be)
S3method(lines, tbs.survreg.be)

export(dtbs,ptbs,qtbs,rtbs,htbs,dist.error,tbs.survreg.mle,tbs.survreg.be)
